<div class="step step-five">
    <h3 class="step-head">Estimate your credit score</h3>
    {% for item in site.data.step-five.options %}
        <div class="forward option" id="creditScore">
            <p class="option-value">{{ item }}</p>
            <div class="icon">
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
    {% endfor %}
    <div class="step__button__selected" style="margin-top: 20px;">
        <button class="forward input-value">Continue</button>
    </div>
    <div class="step__button">
        <button class="backward">Back</button>
    </div>
</div>