<div class="step step-eight">
    <h3 class="step-head">Enter your email and phone number</h3>
    <div class="step-seven__input">
        <input type="text" placeholder="Enter your Email" id="email">
        <small class="error"></small>
        <input type="text" placeholder="Enter your Phone Number" id="phone">
        <small class="error"></small>
    </div>
    <div class="step__button">
        <button class="forward end input-value">Submit</button>
    </div>
    <div class="step-eight__button--back">
        <button class="backward input-value">Back</button>
    </div>
</div>