<div class="step step-seven">
    <h3 class="step-head">What is your name?</h3>
    <div class="step-seven__input">
        <input type="text" placeholder="Enter your First Name" id="firstName">
        <small class="error"></small>
        <input type="text" placeholder="Enter your Last Name" id="lastName">
        <small class="error"></small>
    </div>
    <div class="step__button">
        <button class="forward input-value">Continue</button>
    </div>
    <div class="notification">
        <h3 class="notification__head">Why This Information Is Required:</h3>
        <ul class="notification__list">
            {% for item in site.data.notification.list %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="step-seven__button--back">
        <button class="backward input-value">Back</button>
    </div>
</div>