.step-seven{
    margin-top: 30px;
    &__input{
        margin-top: 30px;
        input{
            display: block;
            width: 95%;
            @media (min-width: 400px){
                width: 350px;
            }
            margin: 0 auto;
            border: 2px solid $text-color;
            margin-top: 10px;
            outline: none;
            padding: 10px;
        }
    }
    &__button{
        margin-top: 20px;
    }
    &__button--back{
        margin-top: 20px;
    }
    .notification{
        width: 95%;
        background-color: #c1e2b0;
        @media(min-width: 800px){
            width: 80%;
        }
        margin: 60px auto;
        margin-bottom: 30px;
        padding: 30px;
        border: 2px dashed $text-color;
        &__list{
            li{
                list-style-position: inside;
                margin-top: 20px;
                &::marker{
                    color: $button-color;
                }
            }
        }
    }
}